.game h1 {
    font-size: 2.5em;
}
.points span {
    font-weight: bolder;
}
.tip span {
    color: #ecfa00;
}
.wordContainer {
    margin: 1.5em;
    padding: 1.5em;
    border: 20px solid #ecfa00;
    display: flex;
}
.letter {
    animation-name: animacaoLetter;
    animation-duration: 1.5s;
    animation-direction: alternate;
    position: relative;
}
.letter ,
.blankSquare {
    font-size: 70px;
    line-height: 1.5em;
    border: 3px solid #000;
    height: 100px;
    width: 100px;
    text-transform: uppercase;
    background: #fff;
    color: #000;
    font-weight: bold;
    
}
.letterContainer p {
    margin-bottom: 1.2em;
}
.letterContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.letterContainer input {
    height: 50px;
    width: 50px;
    font-size: 2em;
    text-align: center;
    margin-right: 1em;
    text-transform: uppercase;
}
.wrongLettersContainer span {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 0 5px;
    transition: 2s;

}

@keyframes animacaoLetter {
    0% {
        bottom: 0;
        color: transparent;


    }
    50% {
        bottom: 20px;
        color: #00000021;

    }
    100% {
        bottom: 0px;
        color: #000;

    }
}